#root {
  margin-top: 60px;
}

.greeting-span {
  margin: 0px 5px;
}

.greeting-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: #eaeaea;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
